#navText {
    color: white;
}

.container {
	margin-left: 5px;
}

td, th {
	border: 1px solid grey;
	padding: 5px;
}

#portrait {
	/*width:500px;*/
	display: block;
	height: 625px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto; 
}

button a {
	color: white;
	width: 100%;
}

#cat, #linkedin {
	width:30px;
	height:30px;
}

footer {
	position: absolute;
	bottom: 0;
	margin-top: 30px;
	width: 100%;
	background-color: grey;
	text-align: center;
	padding: 5px;
}

#projCarousel {
	margin-left: 10%;
	margin-right: 10%;
}

#projCarousel .card {
	color: black;
	margin: 10px;
}

#projCarousel img {
	height: 500px;
}

#addInterest {
	width: 60%;
	margin-left: 20%;
}

.form-group {
	width: 100%;
}

input, textarea {
	width: 100%;
}

input[type='radio'] {
	transform: scale(1.5); 
}

#leftInterest label {
	margin-left: 35px;
}